html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

header img {
  width: 200px;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.wooden {
  grid-column: 1 / span 4;
  grid-row: 1 / span 3;
}

.money-tree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 1.5rem;
}

.description {
  padding: 0 1.5rem;
}
.cart a {
  background-color:#224229;
  align-content: center;
  border-radius: 3px solid;
  grid-column: 3;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;

}

.cart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.small-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin 0 auto;
  border-width: 10px;
  border-style: solid;
  border-color: #224229;
  margin-top: 10px;
  padding: 1.5rem;
  font-size: 15px;
}

.small-description h2 {
  grid-row: 1;
  grid-column: 1 / span 2;
}

figure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
}

figure img {
  grid-row: 1;
  padding: 0 1.5rem;
  object-fit: cover;
}

figcaption {
  grid-row: 2;
  padding: 0 1.5rem;
  font-size:12px;
}

footer {
  text-align: center;
}


/* Default styling for all screens ends here */

/* Add media query for tablet */




/* Add media query for desktop */
