html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0 auto;
  max-width: 1280px;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  background-color: #e7e7e7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

header img {
  width: 150px;
  margin: 0 auto;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.wooden {
  grid-column: 1 / span 4;
  grid-row: 1 / span 3;
}

.money-tree {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 1.5rem;
}

.cart a {
  background-color:#224229;
  align-content: center;
  border-radius: 3px solid;
  grid-column: 3;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  margin-bottom: 1.5rem;

}

.cart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.small-description {
  border: 10px solid #224229; /* px are fine to be used for borders */
  padding: 1.5em;
}

.small-description dl {
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}
.small-description dl dt{
  font-weight: bold;
}

.small-description dl dd{
  margin-left: 0;
}


.paragraphs {
  grid-column: 1 / span 2;
}
.cards {
  display: flex;
  gap: 1.5rem;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 15px;

}

.details, .included {
  background-color: green;
  padding:1.5rem;
  margin-top: .5rem;
  color: #fff;
}

figure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr .2fr;
  margin: 0 auto;
  gap: .25rem;
  padding-left: 1rem;
}

h3 {
  padding-left: 1.5rem;
}
figure img {
  grid-row: 1;
  object-fit: contain;
  width: 100px;
  height: 100px;
  padding: .5rem;
}

figcaption {
  grid-row: 2;
  font-size:12px;
}

.reviews {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

footer {
  text-align: center;
}

@media only screen and (min-width:48em){

  body {
    max-width:768px;
  }
  .photos {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: .5fr .5fr .5fr;
    padding-right: 1.5rem;
  }

  .wooden {
    grid-column: 1;
    grid-row: 1 / span 3;
    width: 95%;
  }
  .small-description{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 40px 1fr;
    border: 0;
    gap: 1.5rem;
  }
  .small-description h2 {
    grid-row: 1;
  }
  .botanical {
    grid-row: 1;
    grid-column:2;
  }
  .common {
    grid-row:2;
    grid-column:2;
    }
  }
  .paragraphs {
    grid-column: 1;
    grid-row: 2;
  }

  .cards{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
  }
  .details {
    background-color: #e7e7e7;
    color: #000;
  }
  .included {
    background-color: #e7e7e7;
    color: #000;
  }

  figure img {
    width: 150px;
    height:150px;
    margin: 0 auto;
    padding-left: 0;
  }
  figcaption {
    font-size: 15px;
    padding-left: 1.5rem;
  }
  .reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr 40px;
    font-size: 15px;
    gap:1.5rem;
  }
  .reviews h3 {
    grid-row: 1;
    grid-column: 1
    margin: 0 auto;

  }

  .reviews cite {
    grid-row: 3;
  }

  .reviews p {
    grid-row: 2;
  }
}
@media only screen and (min-width:80em){

  body {
    max-width:1280px;
  }
