html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0 auto;
  max-width: 1280px;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

header img {
  width: 150px;
  margin: 0 auto;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.wooden {
  grid-column: 1 / span 4;
  grid-row: 1 / span 3;
}

.money-tree {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 1.5rem;
}

.cart a {
  background-color:#224229;
  align-content: center;
  border-radius: 3px solid;
  grid-column: 3;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;

}

.cart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.small-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  margin: 0 auto;
  border-width: 10px;
  border-style: solid;
  border-color: #224229;
  margin-top: 10px;
  padding: 1.5rem;
  font-size: 15px;
}

.small-description h2 {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.small-description h3 {
  grid-column: 1;
}

.paragraphs {
  grid-column: 1 / span 2;
}
.cards {
  display: flex;
  gap: 1.5rem;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 10px;

}

.details, .included {
  background-color: green;
  padding:1.5rem;
  margin-top: .5rem;
}

figure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr .2fr;
  margin: 0 auto;
  gap: .25rem;
}

figure img {
  grid-row: 1;
  object-fit: contain;
  width: 85px;
  height: 100px;
  padding: .5rem;
}

figcaption {
  grid-row: 2;
  font-size:12px;
}

.reviews {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
}

@media only screen and (min-width:768px){

body {
  max-width:768px;
}
.photos {
grid-template-columns: 4fr 1fr;
grid-template-rows: .5fr .5fr .5fr;
padding-right: 1.5rem;
}

.wooden {
  grid-column: 1;
  grid-row: 1 / span 3;
  width: 95%;
}
.money-tree {

}

}
